{
	"name": "Pi-hole",
	"stage": "experimental",
	"version": "{{.Env.VERSION}}",
	"slug": "pi-hole",
	"image": "programmerassistant/addon-pi-hole",
	"description": "The Pi-hole add-on.",
	"url": "https://gitlab.com/programmer-assistant/addons/-/tree/master/pi-hole",
	"ingress": true,
	"ingress_port": 8099,
  "ingress_stream": true,
  "ingress_entry": "admin/",
	"panel_icon": "mdi:pi-hole",
	"startup": "system",
	"arch": ["aarch64", "amd64", "armhf", "armv7", "i386"],
	"ports": {
		"53/udp": 53,
		"53/tcp": 53,
		"67/udp": 67,
		"8099/tcp": null,
		"4865/tcp": null
	},
	"ports_description": {
		"53/udp": "DNS server port",
		"53/tcp": "DNS server port",
		"67/udp": "DHCP server port",
		"8099/tcp": "Web interface (Not required for Ingress)",
		"4865/tcp": "API endpoint (For HA integration)"
	},
	"boot": "auto",
	"host_network": true,
	"hassio_api": true,
	"hassio_role": "default",
	"auth_api": true,
	"privileged": ["NET_ADMIN"],
	"map": ["config", "ssl"],
	"options": {
    	"ssl": false,
    	"certfile": "fullchain.pem",
    	"keyfile": "privkey.pem",
		"env_vars": []
	},
	"schema": {
    "certfile": "str",
    "keyfile": "str",
    "ssl": "bool",
		"env_vars": [{
			"name": "match([a-zA-Z0-9_]+$)",
			"value": "str"
		}]
	}
}
